<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-lg-6 center text-center">
	<h3>Word Count</h3>
	<button class='btn1' ng-click="test()">Load Data</button>
	<button class='btn1' ng-click="chart.fetchAlchemyDataforStory('sentiment')">D3 Sentiment</button>
	<button class='btn1' ng-click="chart.fetchAlchemyDataforStory('keywords')">D3 Keywords</button>
	<button class='btn1' ng-click="chart.fetchAlchemyDataForBranch('keywords')">Branch Analysis - Keywords</button>
	<button class='btn1' ng-click="chart.fetchAlchemyDataForBranch('sentiment')">Branch Analysis - Sentiments</button>
	<button class='btn1' ui-sref=".numLikes">Likes Per Node</button>
	<button class='btn1' ui-sref=".wordsPerNode">Words Per Node</button>
	<button class='btn1' ui-sref=".wordsPerStory">Words Per Story</button>
	<button class='btn1' ui-sref=".likesPerStory">Story Popularity</button>
	<button class='btn1' ui-sref=".authorsByWordCount">Author By Word Count</button>

	<!-- 	<canvas tc-chartjs-line chart-options="options" chart-data="data.words" width="800" height="500"></canvas> -->



	<!-- <canvas tc-chartjs-doughnut chart-data="myData" chart-options="myOptions" width="350" height="350"></canvas> -->

	<!-- <canvas tc-chartjs-line chart-options="options" chart-data="data.words" width="600" height="400"></canvas> -->

<!-- 	<button class='btn1' ui-sref='.wordsPerStory'>Lines Per Story</button>
 -->	
</div>

<!-- 
 -->
 <div ui-view>