ul#storyNav{
	margin-bottom: 0;
}

ul#storyChartNav{
	background-color: #777;
}
#storyChartNav > li > a:hover{
	background-color: #777;
};

#storyChartNav > li > a:visited{
	background-color: #777;
};

/*.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav .open > a:visited{
	background-color: #777;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #777;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: #777;
}*/