
.landingButtons{
   padding-top: 12%;
   .btn1{
      
      width: 200px;
      height: 60px;
      border:3px solid #333;
      background-color: #fff;
      outline: none;
      font-size: 17px;
      color:#333;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
      margin-right: 30px;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
   }

   .btn1:hover{
         background-color: #333;
         border:none;
         color:white;
         -webkit-transition: 1s;
         -moz-transition: 1s;
         -ms-transition: 1s;
         -o-transition: 1s;
         transition: 1s;
   }

}
