<ul class="nav nav-pills nav-justified">
	<li role="presentation"><a>Leave Story</a></li>
	 <li role="presentation"><a>Share Story</a></li>
	 <li role="presentation"><a>Story Statistics</a></li>

	 <li role="presentation" class="dropdown">
	   <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	     Current Users ({{currentUsers.length}}) <span class="caret"></span>
	   </a>
	   <ul class="dropdown-menu" role="menu">
	     <li role="presentation" ng-repeat="user in currentUsers">{{user.name}}</li>
	   </ul>
	 </li>
  <!-- <li ng-repeat="user in currentUsers">{{user.name}}</li> -->
</ul>
<!-- 
<li ng-repeat="user in currentUsers">{{user.name}}</li> -->