<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-lg-8 center">
	<h2>Give your story a title</h2>
<textarea class="form-control storyTitle" rows="1" ng-model="story.title"></textarea>


  <h2>Write the first line of your story</h2>
<textarea class="form-control beginStory" rows="3" ng-model="story.input"></textarea>

  <div class="optionpage center text-center">
    <div class="bloc">
  			<form>
  			  <p>{{privacy}}
  				<input type="checkbox" ng-model="isPrivate"name="sounds" class="regular-radio" ng-click="privacyChange()"/>
  			  </p>
  			</form>
    </div>
  </div>


  <div class="center text-center">
	  <button type="submit" class="submitButton" ng-click="create.startStory()">Submit</button>
  </div>
</div>


