<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-lg-12 center text-center">
  <div id="createInput">
    <span><h4>{{60 -story.title.length }}</h4></span>
    
    <input class="form-control storyTitle createTitle text-center" maxlength="60" rows="1" ng-model="story.title" placeholder="Enter a title" autofocus ng-keyup="$event.keyCode == 13 && create.chooseTitle()">  
    
  </div>

  <div class="optionpage center text-center">
    <div class="block">
        <form>
          <p><span id="privacyNote">Your story will be set to {{privacy}}</span><br>
          <input type="checkbox" ng-model="isPrivate"name="sounds" class="regular-radio" ng-click="privacyChange()"/>
          </p>
        </form>
    </div>
  </div>

  <div class="col-lg-8 center">
    <div class="center text-center">
      <button type="submit" class="submitButton" ng-click="create.chooseTitle()">Next</button>
    </div>
 </div>


</div>




