  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="col-lg-6 center">

    <div>
      <textarea msd-elastic autofocus placeholder="Start writing..." class="form-control beginStory createNode" rows="1" ng-model="story.input" ng-enter="create.startStory()"></textarea>
    </div>

    <div class="col-lg-8 center">

      <div class="center text-center">
        <button type="submit" class="submitButton" ng-click="create.startStory()">Submit</button>
      </div>
    </div>


  </div>




