<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <div class="buttonHolder"><
 -->
<div class="col-lg-12 text-center">
 <input type="text" name='keywords' ng-model='keywords' ng-enter="submitKeywords()" placeholder=' search'>

</div> 	

<div class="col-lg-8 col-md-8 col-sm-8 exploreBox">

	<div ng-repeat="story in currentStories" class="clearfix exploreRow">
		<a ng-click="joinStory(story.storyId)">
			<span class="exploreTitle">{{story.storyId.name}}</span>
			<br />
			<span class="exploreText">{{story.text}}</span>
			</a>
			<br>
			<div class="clearfix">
			<span class="exploreAuthor">by <strong>{{story.author.name}}</strong></span>
			</div>

		<hr ng-show="!$last" />
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs topStories">

	<top-Stories></top-Stories>
</div>
<div class="text-center col-lg-12 col-md-12 clearfix paginationBox">
	<pagination  ng-if="stories.length" class="center" total-items="stories.length" ng-model="currentPage" ng-change="changePage()"></pagination>
</div>