<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <div class="buttonHolder"><
 -->
<div class="col-lg-12 text-center">
 <input type="text" name='keywords' ng-model='keywords' ng-enter="submitKeywords()" placeholder='keyword search'>

</div> 	
<!-- </div>
 -->
<!--git merge master -->
<div class="col-lg-9 col-md-9 col-sm-9 exploreBox">
	<div ng-repeat="story in stories" class="clearfix exploreRow">
		<a ng-click="joinStory(story.storyId)">
			<span class="exploreTitle">{{story.storyId.name}}</span>
			<br />
			<span class="exploreText">{{story.text}}</span>
			</a>
			<br>
			<div class="clearfix">
			<span class="exploreAuthor">by <strong>{{story.author.name}}</strong></span>
			</div>

		<hr ng-show="!$last" />
	</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">dsfjkndsfkjn</div>