<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <div class="buttonHolder"><
 -->
<div class="col-lg-12 text-center">
 <input type="text" name='keywords' ng-model='keywords' ng-enter="submitKeywords()" placeholder='keyword search'>

</div> 	
<!-- </div>
 -->
<div class="col-lg-9 exploreBox">
	<div ng-repeat="story in stories" class="clearfix exploreRow">
		<a ng-click="joinStory(story.storyId)">
			<div>
			<span class="exploreTitle">{{story.storyId.name}}</span>
			<br />
			<span class="exploreText">{{story.text}}</span>
			<br>
			</div>
			<div class="clearfix">
			<span class="exploreAuthor">by <span>{{story.author.name}}</span></span>
			</div>
		</a>
		<hr ng-show="!$last" />
	</div>
</div>
<div class="col-lg-3">dsfjkndsfkjn</div>