.buttonHolder {
	margin: 1em auto;
	width:80%;
}

input[type=text] {
    line-height: 1.42857143;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    color: black;
}

//Pagination Styling

.paginationBox{
	margin: 50px auto;
	float: none;
}

.pagination{
	font-size: 20px;
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
	color: #42f6ce;
	background-color: #000;
	border-color: #000;
}

.pagination > li > a, .pagination > li > span{
	color: #000;
}

.pagination > li > a:hover, .pagination > li > span:hover{
	color: #42f6ce;
	background-color: #999;
}


.exploreBox{
	margin-bottom: 50px;
	margin-top: 40px;
	.exploreRow{
		padding-left: 8%;
		a{
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
		.exploreTitle{
			font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
			font-size: 22px;
			font-weight: bolder;
		}
		.exploreText{
			font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			font-weight: 300;
			font-size: 16px;
			/*padding-bottom: 18px;*/
		}
		.exploreAuthor{
			font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			font-size: 14px;
			color: #aaa;
			margin-top: 10px;
			cursor: default;

		}
	}
}