.buttonHolder {
	margin: 1em auto;
	width:80%;
}

input[type=text] {
    line-height: 1.42857143;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    color: black;
}

.exploreBox{
	margin-bottom: 50px;
	margin-top: 24px;
	.exploreRow{
		padding-left: 8%;
		a{
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
		.exploreTitle{
			font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
			font-size: 22px;
			font-weight: bolder;
		}
		.exploreText{
			font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			font-weight: 300;
			font-size: 16px;
			/*padding-bottom: 18px;*/
		}
		.exploreAuthor{
			font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			font-size: 14px;
			color: #aaa;
			margin-top: 10px;
			cursor: default;

		}
	}
}