#bg{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.navTitle{
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 140%;
}

.nav li{
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

.mainTitle{
	padding-top: 7%;
	h1{
		font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: black;
		font-weight: 100;
		font-size: 5em;

	}
	h2{
		font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #888;
		font-weight: 100;
	}
}

.center{
	margin: 0 auto;
	float: none;
}

.mainButtonBox{
	.mainButton{
		margin: 25px 28px;
		height: 125px;
		width: 125px;
	}
}