<!-- <GRAPH BOX> -->
<div id="graphBox" class="col-lg-2">
</div>
<!-- </GRAPH BOX> -->

<!-- <PANEL> -->
<div class="panel panel-primary col-lg-9">
  <!-- <PANEL HEADING> -->
  <div class="panel-heading">
    <h3 class="panel-title">Story Title</h3>
  </div>
  <!-- <PANEL HEADING> -->
  <!-- <PANEL BODY> -->
  <div class="panel-body">
    <!-- <NG-REPEAT> -->
    <div ng-repeat="node in branchFiltered">
      <div class="col-lg-11">
        <p>
          {{ ::node.text }}
        </p>
      </div>
      <div class="col-lg-1">
        <p>
          <small>{{ ::node.date | date:'yyyy-MM-dd HH:mm:ss'}}</small>
          <small>Author</small>
          <small><a ng-click="setParent(node._id)">Branch</a></small>
          <small><a ng-click="rateNode(node._id)">Like</a></small>
        </p>
      </div>
    </div>
    <!-- </NG-REPEAT> -->
    <!-- <ADD LINE FORM> -->
    <div ng-show="showAddLine">
      <form role="form">
        <div class="form-group">
          <label for="nextLine">Add a line</label>
          <input type="text" ng-model="writing.text" class="form-control" id="nextline" placeholder="Enter a line">
        </div>
        <button type="submit" class="btn btn-default" ng-click="shareWriting()">Share With Friends</button>
        <button type="submit" class="btn btn-default" ng-click="submitWriting()">Submit</button>
        <button type="submit" class="btn btn-default" ui-sref="userStories">My Stories</button>
      </form>
    </div>
    <!-- <ADD LINE FORM> -->
  </div>
  <!-- </PANEL BODY> -->
</div>
<!-- </PANEL> -->