<div ng-include="'components/navbar/navbar.html'"></div>


<!-- {{results}}
<div ng-repeat="node in results">
	ID: {{node._id}}
	CHILDREN: {{node.children}}
	PARENTS: {{node.parentId}}
	{{node.text}} - <a ng-click="setParent(node)">branch</a>

</div> -->

<div>
	<form role="form">
	  <div class="form-group">
	    <label for="nextLine">Add a line</label>
	    <input type="text" ng-model="writing.text" class="form-control" id="nextline" placeholder="Enter a line">
	  </div>

	<button type="submit" class="btn btn-default" ng-click="shareWriting()">Share With Friends</button>
	  <button type="submit" class="btn btn-default" ng-click="submitWriting()">Submit</button>
	</form>
</div>

<div ui-view></div>
<!-- <HTML TEMPLATE> -->
<!-- !! ABSTRACT INTO ITS OWN FILE -->
<script type="text/ng-template" id="shareStoryModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Share this story!</h3>
    {{ storyId }}
  </div>
  <div class="modal-body">
    <label for="recipientEmail">Email of person to invite:</label>
    <input id="recipientEmail" type="email" ng-model="recipientEmail" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!-- </HTML TEMPLATE> -->
