<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <UI-VIEW> -->
<div ui-view>
</div>
<!-- </UI-VIEW> -->
<!-- <HTML TEMPLATE> -->

<!-- !! ABSTRACT INTO ITS OWN FILE -->
<script type="text/ng-template" id="shareStoryModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Share this story!</h3>
    {{ storyId }}
  </div>
  <div class="modal-body">
    <label for="recipientEmail">Email of person to invite:</label>
    <input id="recipientEmail" type="email" ng-model="recipientEmail" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!-- </HTML TEMPLATE> -->
