#storyTitle{
	font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 40px;
	font-weight: bolder;
}

#graphBox{
	/*position: absolute;*/
	/*height: 80vh;
	overflow-y:auto;*/
}



div#scrollBox {
        height: 65vh;
        /*width: 400px;*/
        /*border: 2px solid #000;*/
        overflow: scroll;
      }
svg#treesvg {
height: 1100px;
width: 100px;
border:1px dotted #ccc;
background-color: #ccc;
}  

#storyText{
	font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
	font-size: 22px;
	height: 65vh;
	overflow-y:auto;
	.storyNode{
		line-height: 1.5em;
		a{
			color: black;
			text-decoration: none;
		}
		a:hover{
			background-color: #42f6ce;
			cursor: pointer;
		}
	}

.centered {
	margin-left: 100px
}
/*	.storyNode.tooltip{
		  	display: inline;
		 	position: relative;
		}

		.tooltip:hover {
		    color: #c00;
		    text-decoration: none;
		}*/

	.popover{
		color: black;
		font-size: 12px;
	}
}

.submitButtonSmall{
	width: 100px;
	height: 100px;
	margin: 18px 18px;

}

#scrollBox{
	margin-top: 40px;
}

#storyBox{
	margin-top: 40px;
}

.modalDate{
	color:white;
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.modalHeading{
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.modal-content{
	padding-top: 18%;
	border: none;
	box-shadow: none;
	background-color: rgba(255,255,255,0.0);
	border-radius: 0px;
}

.writingModal{
	background-color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	padding: 40px 20px;;
};

.thatsit{
	margin-top: 20px;
}

textarea {
    resize: none;
}

.nodeModal{
	/*padding-top: 18%;*/
}